@use "@global" as global;
.checkout-container {
    display: flex;
    padding: 20px;
    gap: 40px;
    margin: 0 auto;
}
.checkout-form-container {
    width: 50vw;
    border-right: black 1px solid;
}
.checkout{
    max-width: 700px;
}
.pay-button{
    background-color: #62929E;
}
.order-summary {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background: #f8f8f8;
    color: black;
    padding: 20px;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
}


.breadcrumb {
    padding: 20px;
    background: #f8f8f8;
    margin-bottom: 20px;
}

.summary-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    height: 20%;
}

.summary-item img {
    width: 6vw;
    height: 6vw;
    object-fit: cover;
    margin-right: 15px;
}

.summary-details {
    flex: 1;
}

.summary-price {
    text-align: right;
    font-weight: bold;
}

.totals {
    margin-top: 20px;
    border-top: 2px solid #ddd;
    padding-top: 20px;
}

.total-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total-row.final {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
header {
    position: fixed;
    top: 0;
}
footer {
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}