@use "@global" as global;

form {
  width: clamp(0px, 90vw, 600px);
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

.split-input {
  display: flex;
  gap: 16px;

  @media (max-width: 500px) {
    flex-direction: column;
  }

  & > * {
    flex-grow: 1;
  }
}
