@use "@global" as global;

main {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;

    h3 {
        margin-bottom: 20px;
    }

    .prodotto-container {
        display: flex;
        gap: 40px;

        img {
            width: 400px;
            height: auto;
            border-radius: 10px;
            box-shadow: var(--box-shadow);
        }

        .prodotto-dettagli {
            flex-grow: 1;
        }

        .dettagli {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;

            .dettagli-item {
                flex: 1;

                label {
                    display: block;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .versione,
    .azioni,
    .taglie {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }
}

/* Media query per schermi piccoli (fino a 430px di larghezza) */
@media (max-width: 430px) {
    main {
        max-width: 100%;
    }

    h3 {
        margin-bottom: 10px;
        font-size: 1.5rem;
        text-align: center;
    }

    .prodotto-container {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;

        img {
            width: 100%;
            max-width: 300px;
        }

        .prodotto-dettagli {
            width: 100%;
        }
        .versione{
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .dettagli {
            flex-direction: column;
            gap: 10px;

            .taglie{
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .prezzo {
        text-align: center;
    }
}
